altair==4.2.0
anyio==4.0.0
appnope==0.1.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.2.1
async-lru==2.0.4
attrs==22.2.0
Babel==2.13.1
backcall==0.2.0
beautifulsoup4==4.12.2
biopython==1.81
bleach==6.1.0
blinker==1.5
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cachetools==5.2.0
certifi @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_5d968ni_yn/croot/certifi_1671487774636/work/certifi
cffi==1.16.0
charset-normalizer==2.1.1
chart-studio==1.1.0
click==8.1.3
comm==0.1.4
commonmark==0.9.1
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.1.3
executing==1.2.0
fastjsonschema==2.18.1
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1647964164229/work
fqdn==1.5.1
gitdb==4.0.10
GitPython==3.1.30
grpcio @ file:///Users/runner/miniforge3/conda-bld/grpcio_1648220937286/work
h5py @ file:///Users/runner/miniforge3/conda-bld/h5py_1637964553571/work
idna==3.4
importlib-metadata==6.0.0
ipykernel==6.20.2
ipython==8.8.0
ipython-genutils==0.2.0
ipywidgets==8.1.1
isoduration==20.11.0
jedi==0.18.2
Jinja2==3.1.2
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
json5==0.9.14
jsonpointer==2.4
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.8.0
jupyter-lsp==2.2.0
jupyter_client==8.0.1
jupyter_core==5.1.5
jupyter_server==2.9.1
jupyter_server_terminals==0.4.4
jupyterlab==4.0.7
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.9
jupyterlab_server==2.25.0
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1647351565224/work
MarkupSafe==2.1.1
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1639359004866/work
matplotlib-inline==0.1.6
mistune==3.0.2
munkres==1.1.4
nbclient==0.8.0
nbconvert==7.9.2
nbformat==5.9.2
nest-asyncio==1.5.6
notebook==7.0.6
notebook_shim==0.2.3
numpy==1.26.1
openpyxl==3.0.10
overrides==7.4.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.4.1
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1645323198784/work
platformdirs==2.6.2
plotly==5.18.0
prometheus-client==0.17.1
prompt-toolkit==3.0.36
protobuf==3.20.3
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==10.0.1
pycparser==2.21
pydeck==0.8.0
Pygments==2.14.0
Pympler==1.0.1
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1642753572664/work
pyrsistent==0.19.3
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-decouple==3.6
python-json-logger==2.0.7
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1647961439546/work
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0.1
pyzmq==25.0.0
qtconsole==5.4.4
QtPy==2.4.1
referencing==0.30.2
requests==2.31.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.0.0
roman==4.0
rpds-py==0.10.6
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1640464197660/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1644357306506/work
seaborn==0.12.2
semver==2.13.0
Send2Trash==1.8.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.5
stack-data==0.6.2
statsmodels @ git+https://github.com/statsmodels/statsmodels@44ceac8246fb146befcb70233ae92d7a8d10b7fe
streamlit==1.16.0
streamlit-aggrid==0.3.3
streamlit-multipage==0.0.18
streamlit-option-menu==0.3.2
tenacity @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_a27e1f84-c8c2-4f0a-a0cd-1784e49abcfcgw2e5mao/croots/recipe/tenacity_1657899116589/work
terminado==0.17.1
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
tornado==6.2
traitlets==5.8.1
types-python-dateutil==2.8.19.14
typing_extensions==4.4.0
tzdata==2022.7
tzlocal==4.2
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1640031082361/work
uri-template==1.3.0
urllib3==1.26.13
validators==0.20.0
watchdog==3.0.0
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.4
widgetsnbextension==4.0.9
XlsxWriter==3.1.0
zipp==3.11.0
